# google image crwaler

### Contributor: Lim Hyun Jin
### Contact: onuhjin (at) gmail (dot) com
### Last Updated @2023-09-22

### referance : https://data-ssung.tistory.com/129
### version : python 3.9.6

abstract : selenium을 이용해서 유튜브 검색창에 검색어 입력후, 자동으로 스크롤을 내리고 제목/링크 등을 파싱하여 df에 저장

step 1 패키지 준비 및 세팅

In [ ]:
pip install tqdm
pip install pandas
pip install selenium

2. 검색 후 자료 긁어오기

In [158]:
from time import sleep

import pandas as pd
import tqdm

from selenium import webdriver

In [159]:
# CSV 파일 로드
df = pd.read_csv('../DATA/job.csv')

# 처음 5행 출력
print(df.head())

               English     Korean
0   Software Developer  소프트웨어 개발자
1       Data Scientist    데이터 과학자
2  Mechanical Engineer     기계 공학자
3       Civil Engineer    토목 엔지니어
4  Electrical Engineer    전기 엔지니어

In [160]:
mini_df = df.head()
mini_df

               English     Korean
0   Software Developer  소프트웨어 개발자
1       Data Scientist    데이터 과학자
2  Mechanical Engineer     기계 공학자
3       Civil Engineer    토목 엔지니어
4  Electrical Engineer    전기 엔지니어

In [161]:
for _ in mini_df['English']:
    KEYWORD = _
    URL = "https://google.com/search?q="+KEYWORD+"&tbm=isch"

    # 웹 드라이버 생성
    driver = webdriver.Chrome()

    # 링크 열기
    driver.get(URL)
    driver.fullscreen_window()

    # 스크린샷 찍기
    screenshot_path = '../FaceDector/screenshot/job_' + KEYWORD + '.png'
    driver.save_screenshot(screenshot_path)

    # 페이지 종료
    driver.quit()
print("DONE!")

DONE!

In [ ]:
###########
슈별 찾았다 : class : 'rg_i Q4LuWd'
fR600b islir